*{
    margin: 0;
    padding: 0;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration-line: none;
}

.side-nav{
    position: fixed;
    height: 100%;
    width: 135px;
}

.side-nav ul{
    display: block;
    width: 100%;
}

.side-nav ul li a{
    text-transform: uppercase;
    display: block;
    text-align: center;
    background-color: rgba(0,0,0,.6);
    color: aliceblue;
    height: 40px;
    line-height: 40px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: aliceblue;
    position: relative;
    overflow: hidden;
    transition: .6s;
}

.side-nav ul li:last-child a {
    border-bottom-style: none;
}

.side-nav ul li a:hover{
    background-color: rgba(255,255,255,.6);
    color: black;
}

.side-nav ul li a:before{
    content: '';
    width: 40%;
    height: 100%;
    background-color: blue;
    position: absolute;
    left: -40%;
    clip-path: polygon(75% 0,100% 0,25% 100%,0 100%);
    transition: .6s;
}

.side-nav ul li a:hover:before{
    left: 100%;
}